@{
        Layout = null;
    }
    
@model mm_lib.Register

<html>
    <head>
        
    </head>
<body>
    <form method="post">
        <div class="form">
    <h1>Sign Up</h1>
    <label class="form__label">Enter Organization Name</label>
    <input required class="form__input" type = "text" asp-for = "OrgName" />
    <label class="form__label">Enter Email</label>
    <input required class="form__input" type = "email" asp-for = "Email" />
    <label class="form__label">Enter Password</label>
    <input required class="form__input" type = "password" asp-for = "Password" />
    <input class="form__button" type = "submit" value = "submit"/>
    <br />
    <p>Already have an account? <a href="login">Login</a></p>
    </div>
</form>

@ViewData["Message"]
</body>
</html>

